# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# TextPad back ups
.Rproj.user

# IPython Notebook checkpoints
.ipynb_checkpoints/

# Cache
model_files/vpn*
model_files/*.zip
model_files/Network*
model_files/WSPHandoff_Jan2019/*
*.bak
*.PRN
*.PRJ
*.VAR
*.zip
replacement_networks/comparisons/walk_comparison.csv
replacement_networks/comparisons/new_skims/
replacement_networks/comparisons/original_skims/NM_SKIM_WALK.skm
*.vpr
replacement_networks/comparisons/
replacement_networks/outputs/HWY_LDNET_1_DAILY.dbf
replacement_networks/combined_network_03122019/*
replacement_networks/client_network2015_gdb/*
replacement_networks/network_06242019/*
replacement_networks/trip_files/*
replacement_networks/outputs/*