# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# TextPad back ups
.bak
.Rproj.user

# IPython Notebook checkpoints
.ipynb_checkpoints/

# Exclude folders
data/*
models/cube_catalog_abm/*
models/batch_file_abm/TourCast/logs/*

# Exclude file types
*.PRN


# OS system
*.DS_store

*.hubstorinfo
